.App {
  font-family: sans-serif;
  text-align: center;
}

.bg-color-black {
  background-color: black;
  color: white;
}

.txt-larger {
  font-size: 20pt;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
